<div class="row">
	<div class="col-md-6 col-xs-12 col-sm-6" style="padding: 0">
		<div class="col-md-11 col-xs-12 col-sm-11" style="margin-left: 10px">
			<div class="card bg-light text-dark">
				<h3 class="text-center text-success">Todos No Completados</h3>
				<ol>
					<% @todos.map do |dato| %>
					<% if !dato.completed %>
					<li> <%= dato.description %> </li>
					<% end %>	
					<% end %>
				</ol>
			</div>
		</div>
	</div>
	
	<div class="col-md-6 col-xs-12 col-sm-6" style="padding: 0">
		<div class="col-md-11 col-xs-12 col-sm-11" style="padding: 0">
			<div class="card bg-light text-dark">
				<h3 class="text-center text-success">Todos Completados</h3>
				<ol>
					<% @todos.map do |dato| %>
					<% if dato.completed %>
					<li> <%= dato.description %> </li>
					<% end %>	
					<% end %>
				</ol>
			</div>
		</div>
	</div>
</div>
